body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

.colm-container{
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
}
@media(max-width:990px){
  .colm{
    min-width: 48.5% !important;
    height: 400px !important;
  }
}
@media(max-width:767px){
  .colm{
    min-width: 98.5% !important;
    height: 500px !important;
  }
  input{
    width: 50% !important;
    padding: 5px !important;
  }
}